<footer class="container mt-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <ul class="list-unstyled d-flex justify-content-around w-50">
            <li>Explore</li>
            <li>Contact Us</li>
            <li>Help Center</li>
            <li>Apps</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </ul>
        <ul class="d-flex list-unstyled w-25 justify-content-around mt-4">
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-tiktok"></i></li>
        </ul>
        <p class="my-4">
            All rights reserved WATCH IT 2023 ©
        </p>
    </div>
</footer>