<section *ngIf="isLoading">
    <div class="parent-loading position-relative">
        <div class="text-loading d-flex justify-content-center">
            <div style="--i:1"><span>N</span></div>
            <div style="--i:2"><span>o</span></div>
            <div style="--i:3"><span>x</span></div>
            <div style="--i:4"><span>e</span></div>
            <div style="--i:5"><span>M</span></div>
            <div style="--i:6"><span>o</span></div>
            <div style="--i:7"><span>v</span></div>
            <div style="--i:8"><span>i</span></div>
            <div style="--i:9"><span>e</span></div>
            <div style="--i:10"><span>s</span></div>
        </div>
        <div class="loading"></div>
    </div>
</section>