<header class="position-relative">
    <h2>Overview</h2>
    <div class="row align-items-center justify-content-center position-relative head g-2">
        <div class="col-md-2 head_col mb-5">
            <div class="layout"></div>
            <div class="lay position-absolute end-0">
                <img [src]="image" alt="...">
            </div>
            <div class="image position-relative pt-4">
                <img [src]="postImage" class="w-100" alt="...">
            </div>
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div class="card">
                <div class="movies">
                    <div class="card-body position-relative z-3">
                        <h2 class="text-white display-6">{{data.title}}</h2>
                        <div class="d-flex">
                            <p>{{data.release_date}} ({{country}})</p>
                            <div class="genere" *ngFor="let detail of genres">
                                <h5>, &#160;{{detail.name}}&#160;</h5>
                            </div>
                        </div>
                        <h3>Overview :</h3>
                        <p class="card-text">{{data.overview}}</p>
                        <div class="credit d-flex justify-content-between w-75 mt-5">
                            <div *ngFor="let credit of credit">
                                <h6 class="card-title mb-1 text-white">{{credit.character}}</h6>
                                <p>{{credit.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3 class="mb-3">Top Billed Cast</h3>
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of crew">
                        <ng-template [width]="120" carouselSlide [id]="slide.id">
                            <figure class="actors_cast border">
                                <img class="w-100" [src]="'https://image.tmdb.org/t/p/w500'+slide.profile_path"
                                    alt="...">
                                <figcaption class="text-center">{{slide.name.slice(0,15)}}</figcaption>
                            </figure>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
            <div class="col-md-2 mt-5 d-flex justify-content-center">
                <div class="details">
                    <p class="fs-6"><strong>Status :</strong> {{data.status}}</p>
                    <p class="fs-6"><strong>Original language :</strong> {{data.original_language}}</p>
                    <p class="fs-6"><strong>Budget :</strong> {{data.budget}}</p>
                    <p class="fs-6"><strong>Revenue :</strong> {{data.revenue}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center gap-4">
            <h3 class="my-4">Social</h3>
            <ul class="list-unstyled d-flex mt-4">
                <li class="h5 me-4 clk" routerLink="reviews">Reviews</li>
                <li class="h5 clk" routerLink="Discussions">Discussions</li>
            </ul>
        </div>
        <div class="row reviews">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
<section>
    <app-media [id]="id"></app-media>
</section>